{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Password changed" %} | Penița Dreptului{% endblock %}
{% block robots %}noindex, nofollow{% endblock %}

{% block css_link %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
{% endblock css_link %}

{% block content %}
{% include 'navbar.html' %}
<div class="login-wrapper">
    <div class="login-container">
        <div class="info-icon info-icon--success" aria-hidden="true"><ion-icon name="checkmark-circle-outline"></ion-icon></div>
        <div class="login-header">
            <h2>{% trans "Your password has been changed" %}</h2>
            <p>{% trans "You can now sign in with your new password." %}</p>
        </div>

        <div class="login-footer">
            <p><a href="{% url 'account_login' %}" class="btn-login" style="display:inline-block;text-decoration:none;text-align:center">{% trans "Sign in" %}</a></p>
        </div>
    </div>
</div>
{% endblock content %}
