{% extends "base.html" %}
{% load static %}

{% block css_link %}
    <link rel="stylesheet" href="{% static 'css/books_list.css' %}">
{% endblock css_link %}

{% block content %}
{% include 'navbar.html' %}
<div class="books-container">
    <h1 class="page-title">Toate Cărți</h1>
    <div class="books-grid">
        {% for book in books %}
        <div class="book-card">
            <div class="book-card-body">
                <h5 class="book-title">{{ book.title }}</h5>
                <p class="book-description">{{ book.description|truncatewords:20 }}</p>
                <p class="book-author"><small>Autor: {{ book.author }}</small></p>
                <a href="{% url 'book_detail' slug=book.slug %}" class="read-more-btn">Citește</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>  
{% endblock %}
