{% load static %}
<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penița Dreptului</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/articles.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">  
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.webp' %}">
    
    {% block css_link %}
        
    {% endblock css_link %}
        
</head>

<body>    
{% block content %}
    
{% endblock content %}
<footer class="site-footer" style="margin-top:auto;">
    <div class="footer-content">
        <div class="payment-logos">
            <img src="{% static 'img/visa_logo.webp' %}" alt="Visa">
            <img src="{% static 'img/mc.svg' %}" alt="Mastercard">
        </div>
        <div class="footer-links">
            <a href="{% url 'terms_and_conditions' %}">Termeni și Condiții</a>
            <span style="margin: 0 10px; color: #999;">|</span>
            <a href="{% url 'privacy_policy' %}">Politica de Confidențialitate</a>
        </div>
    </div>
    <div class="footer-copyright">
        &copy; 2025 Penița Dreptății. Toate drepturile rezervate.
    </div>
</footer>
    
</body>
<script src="{% static 'js/navbar.js' %}"></script>
</html>
