{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<nav class="navigation">
    <div class="menu-icon" id="menu-icon">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="nav-links" id="nav-links">
        <a class="navlink" href="{% url 'home' %}">Principală</a>
        <a class="navlink" href="{% url 'articles' %}">Articole</a>
        <a class="navlink" href="{% url 'books_list' %}">Cărți</a>
        {% if user.is_authenticated %}
            <a class="navlink navlink--icon" href="{% url 'account_dashboard' %}" aria-label="Contul meu" title="Contul meu">
                <svg class="profile-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" focusable="false"><path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" /></svg>
            </a>
            <form action="{% url 'account_logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button class="navlink" type="submit">
                    Ieși din cont
                </button>
            </form>
        {% else %}
            <a class="navlink" href="{% url 'account_login' %}">Logare</a>
        {% endif %}
    </div>
</nav>